# Google Apps Script Web App URL (see google-apps-script/Code.gs for setup).
# Ends in /exec, looks like:
# https://script.google.com/macros/s/AKfycbxxxxxxxxxxxxxxxxxxxxxxxxxxxx/exec
VITE_FORM_ENDPOINT=
